# ============================================
# SERVIDOR
# ============================================
# Porta e host para o servidor
PORT=3000
HOST=0.0.0.0

# Ambiente de execução (development, production, test)
NODE_ENV=development

# ============================================
# UPLOADS
# ============================================
UPLOAD_DIR="./uploads"

# ============================================
# BANCO DE DADOS
# ============================================
# Configurações do banco de dados
DATABASE_URL="link_para_o_banco_de_dados"


JWT_SECRET="sua_chave_secreta_para_jwt"